<nav class="topbar"></nav>
  <div class="topbar__left">
    <a href="/" class="brand">
      <img src="/images/logo.png" alt="Logo" class="brand__logo" />
      <h1 class="h2">Cracov Automation Hub</h1>
    </a>
  </div>
  <div class="topbar__right">
    <% if (user) { %>
      <form action="/logout" method="post" class="inline">
        <button class="btn btn--primary btn--sm">Wyloguj</button>
      </form>
    <% } %>
  </div>
</nav>